@charset "utf-8";
p {
  color: rgb(25, 25, 25);
}

.introduction {
  font-size: 20px;
  color: brown;
}

.schedule {
  font-size: 15px;
}

.displayRow {
  display: flex;
}

.bottomMargin {
  margin: 10px;
}

.AbeName {
  font-weight: bolder;
  font-size: 40px;
}
