@charset "utf-8";
p {
  color: rgb(25, 25, 25);
}

.introduction {
  font-size: 20px;
  color: brown;
}

.schedule {
  font-size: 15px;
}

.displayRow {
  display: flex;
}

.bottomMargin {
  margin: 10px;
}
.aliginCenter {
  margin: 0 auto;
  text-align: center;
}

.AbeName {
  font-weight: bolder;
  font-size: 40px;
}
.anime_test {
  width: 50%;
  display: block;
  margin: 0 auto;
  position: relative;
  animation: anime1 3s ease;
}

@keyframes anime1 {
  0% {
    opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.wrapper {
  min-height: 10vh;
  max-height: 40vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}

footer {
  width: 100%;
  background-color: #40b2dc;
  color: #727272;
  text-align: center;
  padding: 30px 0;

  position: absolute;
  bottom: 0;
}
